@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

nav{
    width: 100%;
    height: 60px;
}
nav ul{
    margin: auto;
    max-width: 1400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}

#logo_title{
    margin-left: 30px;
    font-size: x-large;
}

#menu{
    margin-right: 30px;
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
    font-size: larger;
}