@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/*      NAVIGATION BAR      */

nav{
    width: 100%;
    height: 60px;
    background-color: rgb(245, 245, 245);
    position: fixed;
    z-index: 1000;
}
nav ul{
    margin: auto;
    max-width: 1500px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}

nav a{
    text-decoration: none;
    color: #000000;
}

#logo_title{
    margin-left: 30px;
    font-size: 36px;
}

#menu{
    margin-right: 30px;
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
    font-size: larger;
}

/*      HERO IMAGE AREA     */

#hero_area{
    max-width: 1500px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    top: 60px;  
    background:url(/images/generated-7687508.jpg) center center;
    background-size: cover;
}

#main_hero_title_area{
    width: 450px;
    height: 500px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    position: relative;
    top: 80px;
    left: 150px;
    border-radius: 20px;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.2);
}

#main_hero_title_area h1{
    padding: 40px;
    font-size: 46px;
    text-align: left;
    margin-bottom: 10px;
}

#main_hero_title_area a{
    text-decoration: none;
    border: transparent;
    background-color:#ff8800;
    color: rgb(247, 247, 247);
    font-size: 28px;
    padding: 10px;
    border-radius: 10px;
}

/*      ABOUT US        */

#main_about_us_section{
    max-width: 1500px;
    padding: 50px 0 50px 0;
    margin: auto;
    position: relative;
    top: 20px;
    background-color:rgb(247, 247, 247);
    border-radius: 25px;
}

#about_us{
    max-width: 1400px;
    margin: auto;
    margin: 0 50px 0 50px;
    border-radius: 25px;
    border: 2px solid rgb(247, 247, 247);
    background:url(/images//robert-duncanson-84959.jpg) -250px no-repeat;
    background-size: cover;
}

#about_us_information_section{
    max-width: 1100px;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 25px;
}

#about_us_information_section h2{
    padding: 20px 0 0 30px;
    font-size: 36px;
}

#about_us_information_section p{
    font-size: 20px;
    margin:0 30px 0 30px;
    padding: 15px 0 30px 0;
    list-style-type: none;
    border-top: 2px solid #ff8800;
}

#about_us_information_section h2:nth-child(3){
    text-align: right;
    padding: 20px 30px 0 0;
}

/*      FORM SECTION        */

#contact_form_section{
    max-width: 1500px;
    height: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#main_form{
    width: 600px;
    margin: auto;
    font-size: 32px;
}

#main_form input,select{
    border:transparent;
    border-bottom: 2px solid #ff8800;
    width: 100%;
    font-size: 22px;
    margin-bottom: 10px;
}

#main_form input:focus{
    outline: transparent;
    box-shadow: 0 5px 20px #ff880027;
    z-index: -1;
}

#submit_button{
    width: 100%;
    margin-top: 20px;
    border: transparent;
    color: #ffffff;
    height: 40px;
    background-color: #ff8800;
    border-radius: 20px;
}

/*      FOOTER      */

footer{
    height: 500px;
    color: #ff8800;
    background: rgb(245,245,245);
    background: linear-gradient(175deg, rgba(245,245,245,1) 60%, rgba(255, 136, 0, 0.2) 100%);
}

footer ul{
    list-style-position: inside;
}

footer div{
    max-width: 800px;
    padding: 0 50px 0 50px;
    margin: auto;
    position: relative;
    top: 125px;
    display: grid;
    grid-template-columns: 50% 50%;
}

footer h2{
    grid-row: 1;
    margin-bottom: 30px;
}

footer a{
    color: #ff8800;
}

/*      TABELT SIZE     */

@media screen and (max-width: 900px){
    
    #main_hero_title_area{
        left: 50px;
    }

    #about_us{
        background: none;
    }
}