@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*      NAVIGATION BAR      */

nav {
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    position: fixed;
    z-index: 1000;
}

nav > div {
    margin: auto;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000000;
}

#logo_title {
    margin-left: 30px;
    font-size: 2.5rem;
}

#menu {
    margin-right: 30px;
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

/*      HERO IMAGE AREA     */

#hero_area {
    max-width: 1500px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    top: 60px;
    background: url(/assets/images/heroimage.jpg) center center;
    background-size: cover;
}

#main_hero_title_area {
    width: 450px;
    height: 500px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    position: relative;
    top: 80px;
    left: 150px;
    border-radius: 20px;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.2);
}

#main_hero_title_area h1 {
    padding: 40px;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 10px;
}

#main_hero_title_area a {
    text-decoration: none;
    border: transparent;
    background-color: #ff8800;
    color: rgb(247, 247, 247);
    font-size: 28px;
    padding: 10px;
    border-radius: 10px;
}

/*      ABOUT US        */

#main_about_us_section {
    max-width: 1500px;
    padding: 100px 0 100px 0;
    margin: auto;
    position: relative;
    top: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 25px;
}

#about_us {
    max-width: 1400px;
    margin: auto;
    margin: 0 75px 0 75px;
    border-radius: 25px;
    border: 2px solid rgb(247, 247, 247);
    background: url(/assets/images/aboutusbackground.jpg) -250px no-repeat;
    background-size: cover;
}

#about_us_information_section {
    max-width: 1100px;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 25px;
}

.about_us_headings {
    padding: 20px 0 0 30px;
    font-size: 2rem;
}

#about_us_title {
    font-size: 3rem;
}

#about_us_information_section p {
    font-size: 1.4rem;
    margin: 0 30px 0 30px;
    padding: 15px 0 30px 0;
    list-style-type: none;
    border-top: 2px solid #ff8800;
}

/*      PRICING SECTION     */

#main_pricing_section {
    background: rgb(255, 255, 255);
    background: linear-gradient(175deg, rgb(255, 255, 255) 25%, rgba(255, 136, 0, 0.2) 50%, rgb(255, 255, 255) 75%);
}

#main_pricing_section h1 {
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 4rem;
}

#pricing_table {
    margin: 0 auto;
    max-width: 990px;
    padding: 250px 20px 0 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    position: relative;
    top: -80px;
}

#pricing_table ul {
    padding: 20px 0 40px 0;
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 10px 10px 20px rgb(190, 190, 190);
}

#pricing_table_business {
    background: linear-gradient(190deg, rgba(248, 42, 255, 0.2) 0%, rgba(255, 255, 255, 1) 25%);
}

#pricing_table li {
    margin-bottom: 25px;
}

#pricing_table .booking {
    margin-top: 30px;
    padding: 6px 15px 6px 15px;
    font-size: 28px;
    position: relative;
    top: 10px;
    text-decoration: none;
    background-color: #f82aff;
    color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(210, 210, 210);
}

#pricing_table .booking:hover {
    background-color: #ff8800;
}

li > h2 {
    padding-top: 20px;
    line-height: 40px;
    font-size: 2rem;
}

li > h3 {
    line-height: 60px;
    font-size: 4rem;
}

.grayed_out {
    color: #0000003d;
}

/*      FORM SECTION        */

#contact_form_section {
    max-width: 1500px;
    padding-bottom: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#contact_form_section h2 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 4rem;
}

#main_form {
    width: 600px;
    padding: 20px;
    margin: auto;
    font-size: 2.5rem;
}

#main_form input,
select {
    border: transparent;
    border-bottom: 2px solid #ff8800;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#main_form input:focus {
    outline: transparent;
    box-shadow: 0 5px 20px #ff880027;
    z-index: -1;
}

#submit_button {
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    font-size: 28px;
    border: transparent;
    color: #ffffff;
    background-color: #ff8800;
    border-radius: 10px;
}

/*      FOOTER      */

footer {
    color: #ff8800;
    background: rgb(245, 245, 245);
    background: linear-gradient(175deg, rgba(245, 245, 245, 1) 60%, rgba(255, 136, 0, 0.2) 100%);
}

footer ul {
    list-style-position: inside;
}

footer div {
    max-width: 800px;
    padding: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

footer h2 {
    grid-row: 1;
    margin-bottom: 30px;
}

footer a {
    color: #ff8800;
}

/*      TABELT SIZE     */

@media screen and (max-width: 900px) {
    #logo_title {
        font-size: 1.5rem;
        margin-left: 10px;
    }

    #menu {
        font-size: 1rem;
        width: 250px;
        margin-right: 10px;
    }

    #main_hero_title_area {
        left: 30px;
        width: 80%;
        height: auto;
    }

    #main_hero_title_area h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    #main_hero_title_area a {
        position: relative;
        top: -40px;
    }

    #about_us {
        width: 80%;
        margin: auto;
        background: none;
    }

    #about_us h2 {
        font-size: 2rem;
    }

    #main_pricing_section h1 {
        font-size: 3rem;
    }

    #contact_form_section h2 {
        font-size: 3rem;
    }
    #contact_form_section label {
        font-size: 2rem;
    }

    footer div {
        padding: 20px;
    }

    footer ul {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 500px) {
    #logo_title {
        font-size: 0.9rem;
        margin-left: 10px;
    }

    #menu {
        font-size: 0.5rem;
        width: 150px;
        margin-right: 10px;
    }

    #main_hero_title_area {
        left: 30px;
        width: 80%;
        height: auto;
    }

    #main_hero_title_area h1 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    #main_hero_title_area a {
        position: relative;
        top: -40px;
    }

    #about_us {
        width: 90%;
        margin: auto;
    }

    #main_pricing_section h1 {
        font-size: 2.5rem;
    }

    #contact_form_section h2 {
        font-size: 2.5rem;
    }
    #contact_form_section label {
        font-size: 1.5rem;
    }

    footer div {
        padding: 20px;
    }

    footer ul {
        font-size: 0.6rem;
    }
}
